body, html {
  height: 100%;
  margin-left: 0;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  text-align: center;
  font-size: 100px;
  font-family: 'Gamja Flower', cursive;
  margin-bottom: 0;
  color: #3CB371;
  opacity: 0.7;
}

header ul{
  width: 1570px;
  padding-top: 30px;
  opacity: 0.5;
  padding-left: 186px;
}

header li {
  list-style: none;
  display: inline-block;
  padding-right: 20px;
  font-size: 25px;
}

a {
  text-decoration: none;
  color: black;
}

#flexslider {
	width: 1000px;
	height: 700px;
}


.slides {
	width: 500%;
	position: relative;
	left: 500;
	will-change: transform;
  animation: slider 3s infinite;
  direction: horizontal;
}

.active {
  width: 1000px;
  height: 700px;
  float: left;
  padding: 0;
}
