.title {
  font-size: 7vw;
  font-family: 'Gamja Flower', cursive;
  margin-bottom: 0;
  color: #3CB371;
  opacity: 0.7;
  margin-top: 0;
}

li {
  list-style: none;
}

#menu-items {
  width: 15vw;
  padding-left: 20%;
}


#menu-items li {
  padding-bottom: 10px;
}

#menu-items h1 {
  margin-top: 100px;
  color: red;
  opacity: 0.7;
}

#menu-item-list {
  float:left;
}

#menu-item {
  color: #C71585;
  font-size: 23px;
  padding-top: 7px;
}

#menu-item:active {
  color: gray;
  opacity: 0.7;
}

#menu-image {
  width: 40vw;
  height: 30vh;
  float: right;
  padding-right: 20%;
  padding-left: 10%;
  margin-top: -200px;
  margin-bottom: 100px
}
